// Colors
$blue: #151826;
$orange: #FF8A66;
$grey: #3E505B;
$light: #8AB0AB;
$white: #FFF;
$white-op: rgba(#FFF,.7);

// Fonts
$futura: "Futura Book", sans-serif;
$gotham: "Gotham Ultra", sans-serif;
