section#about {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    background: rgba($blue,.98);
    opacity: 0;
    z-index: -1;
    padding: 90px;

    &.active {
        opacity: 1;
        z-index: 9;
    }

    h1 {
        font-size: 100px;
        line-height: 80px;
        display: block;
        margin-top: 60px;
        margin-bottom: 60px;
        color: $orange;
        font-family: $gotham;
        font-weight: 900;
        text-shadow: $shadow;
    }
    
    > p, > span {
        font-size: 17px;
        line-height: 34px;
        padding-left: 20px;
        display: block;

        a {
            color: $orange;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        color: $light;
        max-width: 550px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    span {
        color: $grey;
        font-style: italic;
    }

    nav.socials {
        padding-left: 20px;
        margin-top: 30px;

        a {
            position: relative;
            text-decoration: none;
            float: left;
            margin-right: 30px;
            height: 30px;
            text-transform: uppercase;
            font-family: $gotham;
            font-weight: 900;
            color: $light;
            font-size: 18px;
            overflow: hidden;

            &:before {
                position: absolute;
                left: 0;
                bottom: 5px;
                content:'';
                display: block;
                width: 0px;
                height: 4px;
                background: $orange;
                opacity: 0;
                transition: all ease-in-out .25s;
            }

            &:hover {
                &:before {
                    opacity: 1;
                    width: 35px;
                    left: auto;
                    right: 0;
                    transition: all ease-in-out .25s;
                    animation: socialsLinkHover both 2s;
                }
            }
        }
    }
    
    @media screen and (max-width: $tablet) {
        padding: 20px;
        opacity: 1 !important;
        z-index: 9 !important;

        h1 {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 50px;
            line-height: 50px;

            @media screen and (max-width: $mobile) {
                font-size: 40px;
                line-height: 40px;
            }
        }

        > p, > span {
            padding-left: 8px;
        }

        nav.socials {
            padding-left: 8px;
            margin-bottom: 20px;
            
            a {
                display: block;
                float: none;
            }
        }
    }
}
