* {
    box-sizing: border-box;
    will-change: transition, transform, left, bottom, right;
}

html, body {
    overflow: hidden;
}

body {
    position: relative;
    background: $blue;
    color: $light;
    font-family: $futura;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}
