* {
    box-sizing: border-box;
    will-change: transition, transform, left, bottom, right;
}

html, body {
    overflow: hidden;
}

body {
    position: relative;
    background: $blue;
    color: $light;
    font-family: $futura;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

section.play-pause-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 80px;
    height: 80px;
    background: $orange;
    border-radius: 100%;
    opacity: 0;
    z-index: -1;

    &.active {
        z-index: 40;
    }

    i {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate3d(-50%,-50%,0);
        font-size: 35px;
        color: $white-op;
        display: none;
    }
}
