section#slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

section.project {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    > div {
        width: 100%;
        height: 100%;
    }

    > .content {
        position: absolute;
        z-index: 3;
        text-align: center;
    }
    
    > .filter {
        position: absolute;
        z-index: 2;
        background: rgba($blue,.8);
    }

    > .thumbnail {
        position: absolute;
        z-index: 1;
        filter: grayscale(70%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background: rgba($blue,.8);
    }
}
