{{#each projects}}
    <section class="project" id="{{id}}" data-index="{{@key}}">
        <div class="content">
            <!-- templates/project.hbs -->
        </div>
        <div class="filter"></div>
        <div class="thumbnail" style="background-image: url('{{thumbnail}}')"></div>
    </section>
{{/each}}
